.buttonA{
    background-color: black;
    border-radius:20px;
    color: white;
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    display:block;
    text-align: center;
    margin: 10px 0px 10px 0px;
}