.recordF{
    background-color: black;
    border-radius: 100%;
    width:75px;
    font-size:11px;
    height:75px;
    color:white;
    text-align:center;
    vertical-align: middle;
}
.recordT{
    background-color: black;
    border-radius: 100%;
    width:75px;
    height:75px;
    font-size:10px;
    color:white;
    text-align:center;
    vertical-align: middle;
    animation-name:pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes pulse {
    0%   {width: 75px;height: 75px;}
  50%  {width: 85px;height: 85px;}
  100% {width: 75px;height: 75px;}

  }